services:
  dm-agent:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true          # Enable TTY
    stdin_open: true   # Keep stdin open
    environment:
      - TERM=xterm-256color
      - MCP_HOST=http://mcp-gateway:9011/mcp      
    depends_on:
      - mcp-gateway
    models:
      chat:
        endpoint_var: MODEL_RUNNER_BASE_URL
        model_var: MODEL_RUNNER_CHAT_MODEL
      tools:
        endpoint_var: MODEL_RUNNER_BASE_URL
        model_var: MODEL_RUNNER_TOOLS_MODEL

  mcp-gateway:
    # mcp-gateway secures your MCP servers
    image: docker/mcp-gateway:latest
    command:
      - --port=9011
      - --transport=streaming
      - --servers=duckduckgo
      - --verbose
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock


models:
  chat:
    #model: ai/qwen2.5:1.5B-F16
    model: hf.co/menlo/lucy-128k-gguf:q4_k_m
  tools:
    model: hf.co/menlo/lucy-128k-gguf:q4_k_m
    #model: hf.co/salesforce/llama-xlam-2-8b-fc-r-gguf:q4_k_m
